* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.container {
    padding: 0 100px 0 100px;
}
body {
    background-color: #618685;
}
.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
}
.front-page h1{
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 100px;
}
