{% extends "layout.html" %}
{% block title %}Add Product{% endblock %}
{% block body %}

<div class="addproduct">
  <form action="/profile/add" method='POST' enctype="multipart/form-data">
    Name: <input type="text" name= "name" id="name" required><br><br> 
    Brand: <input type="text" name= "brand" id="brand" required><br><br>
    Size: <input type="text" name="size" id="size" required><br><br>
    Color: <input type="text" name="color" id="color" ><br><br>
    Price: <input type="text" name="price" id="price" required><br><br>
    Image: <input type="file" name="image" id="image"><br><br>
    Description: <textarea name="description" id="description"></textarea><br><br>
    <input type="submit" value="add">
  </form>
</div>
{% endblock %}