{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block body %}

<div class="editproduct">
  <form action="/profile/edit/{{ record[7] }}" method='POST' enctype="multipart/form-data">
    Name: <input type="text" name= "name" value="{{ record[0] }}" id="name" required><br><br>
    Brand: <input type="text" name= "brand" value="{{ record[1] }}" id="brand" required><br><br>
    Size: <input type="text" name="size" value="{{ record[2] }}" id="size" required><br><br>
    Color: <input type="text" name="color" value="{{ record[3] }}" id="color" ><br><br>
    Price: <input type="text" name="price" value="{{ record[4] }}" id="price" required><br><br>
    Image: <input type="file" name="image" value="{{ record[5] }}" id="image"><br><br>
    Description: <textarea name="description" value="{{ record[6] }}" id="description"></textarea><br><br>
    <input type="submit" value="update">
  </form>
</div>
{% endblock %}

