<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/main.js"></script>
    <title>My App</title>
</head>
<body>
    <div class="container navbar">
        <div class="name">
            <a href ="/">Subha</a>
        </div>
    
        <div class="links">
            <a href="login">Login</a>
            <a href="signup">SignUp</a>
        </div>
    </div>
    <div class="container front-page">
        <h1>Sell Your Products</h1> <br><br>
        {% for image_name in image_names %}
            <!-- {{ image_names }} -->
            {% print(image_name)%}
            <!-- <img src="{{('../static/images/', image_name)}}" style="width: 300px;height: 300px; display: inline-block"> -->
            <img src="{{'../static/images/' + image_name}}" style="width: 300px;height: 300px; display: inline-block">
            

        {% endfor %}
    </div>
    <div>
        {% block body %}
            {% endblock %}
    </div>
</body>
</html>