<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "http://localhost:8000/static/css/style.css">
    <script src="../static/main.js"></script>
    <title>My App</title>
</head>
<body>
    <div class="container navbar">
        <div class="name">
            <a href ="/">Subha</a>
        </div>
    
        <div class="links">
            <a href="login">Login</a>
            <a href="signup">SignUp</a>
        </div>
    </div>
    <div class="container front-page">
        <h1></h1>
    </div>
    <div>
        {% block body %}
            {% endblock %}
    </div>
</body>
</html>