{% extends "layout.html" %}
{% block title %}My Application{% endblock %}

{% block body %}

<div class="loginform">
  <h2>Enter the account details to log in: </h2><br><br>
  <form action="/login" method='POST' onsubmit="onsubmitlogin(event)">
    Email: <input type="text" name="email" placeholder="email" id="email" required><br><br>
    Password: <input type="password" name="password" placeholder="password" id="password" required><br><br>
    <input type="submit" value="submit">
  </form>
</div>
{% endblock %}
