<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Profile</title>
</head>
<style>
    .front-page{
        top:50px;
        position: absolute;
        width: 100%;
    }
    table{
            width: 100%;
            background-color: white;
            border-collapse: collapse;
        }
        td,th{
            font-size: medium;
            padding: 2px;
            border: 1px solid black;
        }

</style>
<body>
    <div class="container navbar">
        <div class="name">
            <a href ="/">Subha</a>
        </div>
    
        <div class="links">
            <a href="/logout">LogOut</a>

        </div>
    </div>
    <div class="container front-page">
        <h1> List of all Products </h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Color</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Action</th>
            </tr>            
            {% for u in data %}
                <tr>
                    <td>{{ u[1] }}</td>
                    <td>{{ u[2] }}</td>
                    <td>{{ u[3] }}</td>
                    <td>{{ u[4] }}</td>
                    <td>{{ u[5] }}</td>
                    <td>{{ u[6] }}</td>
                    <td>{{ u[7] }}</td>
                    <td>
                        <a href="/profile/edit/{{ u[0] }}" style="color:black; text-decoration: none;">Edit</a> /
                        <a href="/profile/delete/{{ u[0] }}" style="color:black; text-decoration: none;">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="/profile/add" style="color:white; text-decoration: none;">Add Product</a>

    </div>
    <div>
        {% block body %} 
            {% endblock %}
    </div>
</body>
</html>