{% extends "layout.html" %}
{% block title %}My Application{% endblock %}
{% block body %}

<div class="signupform">
  <h2>Sign up to create an account: </h2><br><br>
  <form action="/signup" method='POST' onsubmit="onsubmitsignup(event)">
    First Name: <input type="text" name="fname" placeholder="first name" id="fname" required><br><br>
    Middle Name: <input type="text" name="mname" placeholder="middle name" id="mname"><br><br>
    Last Name: <input type="text" name="lname" placeholder="last name" id="lname" required><br><br>
    Email: <input type="text" name="email" placeholder="email" id="email" required><br><br>
    Password: <input type="password" name="password" placeholder="password" id="password" required><br><br>
    Confirm Password: <input type="password" name="confirmPassword" placeholder="confirm password" id="confirmPassword" required><br><br>
    <input type="submit" value="submit">
  </form>

</div>


{% endblock %}